/* Styles for the navbar and overall page layout */

body {
  overflow: hidden;
  background-color: #F7F1E6;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Styles home */
.home-nav {
	font-size:18px;
}

.page-nav {
	background-color: #FFDEA1;
	font-weight: bold; 
}

.story-title {
	font-size: 25px;
}


#phonetics-toggle-btn {
  background-color: #F7F1E6;

  border-radius: 15%;
  border-width: 1px;
  color: rgba(0,0,0,.5);
}

/* picture part */

.main-body {
   width: 100%; /* for IE 6 */
   position: relative;
}

.page-turn{
  position: absolute; 
  top:50%;
}

#left-arrow {
  left: 0px;
}
#right-arrow {
  right: 0px;
}

.middle-page {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
}

.interactive-container {
  height: 100%;
  width: 100%;
}

.page-text {
  margin-left: 3%;
  background-color: #F7F1E6;
  position: absolute;
  bottom: 7%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 2%;
  border-radius: 15px;
}

/* text things */

.playbtn {
  bottom: .7em;
  position: absolute;
}

#story-text-div {
  margin-left: 5%;
  padding-left: 0px;
}

.word-unit {
  margin: 2%;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 2em;
}

.mini-button {
   height: 30px;
   line-height: 15px;
   visibility: hidden;

   /* makes them above so buttons line up with play button */
   margin-top: -2em;
}

.btn-text {
  font-family: serif;
  font-size: 1.75em;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-color: #CCC7BE;
}

span.word-highlighted {
  border-color: #ecd444;
  background-color: yellow;
}

.word-button {
  margin-bottom: 0;
  background-color: transparent;

  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.page-num-circle {
  right: 2%;
  bottom: 2%;

  border-radius: 25%;

  background-color: #F7F1E6;
  position: absolute;
  align-items: center;

  padding: 0.5%;
}

/* new text styling */
.test-word-button {
  background-color: transparent;

  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;

  padding: .7em;
  padding-top: 1%;
}

.popup-button{
  border: 0px;
  background: transparent;
  padding: 0px;
}

.hear-button {
  padding-left: 0px;
}

.translate-button {
  padding-right: 0px;
}

.back-button{
  padding: 0px;
}

.popup{
  padding: 0px;
  padding-left: 0.5%;
  padding-right: 0.5%;
    position: absolute;
    z-index: 1;
    margin-top: -30px;

    margin-bottom: 10%;
    background-color: #F7F1E6; /*#ffffff; */

    /* easy rounded corners for modern browsers */
    border: 5px solid;
    border-bottom: 0px;
    border-color: yellow; /* #ecd444  */
}

.english-translation {
  font-size: 70%;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: #ecd444;
}

/* title page styling */

.story-descrip-div {
  right: 10%;
  background-color: #F7F1E6;
  position: absolute;
  bottom: 15%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  border-radius: 15px;
}

.title-div {
  font-size: 250%;
  font-weight: bold;
}

#text-title{
    border-bottom: 2px solid;
}

.subtitle-div {
  font-style: italic;
  font-size: 80%;
  margin-left: 10%;
}
